@tailwind base;
@tailwind components;
@tailwind utilities;

.dungeon {
  background-image: url(https://wallpaperaccess.com/full/4297155.jpg);
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.button1 {
  @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded
}